{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transaction</th>
            </tr>
        </thead>

        <tbody>
            {% for t in h %}
                <tr>
                    <td>{{t["symbol"]}}</td>
                    <td>{{t["shares"]}}</td>
                    <td>${{t["price"]}}</td>
                    <td>{{t["date"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}